@import "mixins";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #a4a7ae;
}
h1 {
  color: rebeccapurple;
}
.main {
  @include flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.main__container {
  display: flex;
  max-width: 1250px;
  height: 70vh;
  border-radius: 10px;
  width: 100%;
  background: rgb(56, 72, 87);
  background: linear-gradient(
    90deg,
    rgba(56, 72, 87, 1) 0%,
    rgba(29, 37, 50, 1) 100%
  );
  &--sidebar {
    max-width: 300px;
    width: 100%;
  }
}
.main__container--content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
  padding-right: 0px;
}
.input__field--container {
  margin-top: 25px;
  flex-grow: 0;
  display: flex;
  padding-right: 25px;
  .input__field--field {
    flex-grow: 1;
    background-color: #a4a7ae1c;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #a4a7ae;
    padding: 10px;
  }
  .input__field--button {
    background-color: #a4a7ae1c;
    border: none;
    padding: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    .input__field--send-icon {
      width: 22px;
      opacity: 0.8;
      transform: rotate(-25deg);
    }
  }
}
.messages {
  flex-grow: 1;
  overflow: auto;
  padding-right: 25px;
}
.main__container--sidebar {
  border-right: 1px solid #a4a7ae1c;
  overflow: auto;
}
.person {
  border-bottom: 1px solid #a4a7ae1c;
  padding: 10px;
  list-style-type: none;
}
.person__in--chat {
  display: flex;
  align-items: flex-start;
}
.person__image {
  margin-left: 5px;
  border-radius: 50%;
  background-color: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23EC3463' stroke-width='5' stroke-dasharray='100%25%2c 70%25' stroke-dashoffset='64' stroke-linecap='butt'/%3e%3c/svg%3e");
  padding: 5px;
}
.person__info {
  margin-left: 25px;
}
.info__marks {
  text-align: right;
  font-size: 12px;
  margin-top: 10px;
}
.person__message {
  padding: 10px;
  // list-style-type: none;
  background-color: #a4a7ae1c;
  border-radius: 3px;
  width: 80%;
  float: left;
  margin-top: 25px;
  .person__in--chat {
    img {
      order: -1;
    }
  }
}
.my__message {
  float: right;
  margin-top: 25px;
  padding: 10px;
  list-style-type: none;
  background-color: #a4a7ae1c;
  border-radius: 3px;
  width: 80%;
  .person__in--chat {
    p {
      flex-grow: 1;
    }
  }
}
.date-time {
  padding: 0px 5px;
}

//-----------scroll-------------------
::-webkit-scrollbar {
  height: 0px;
  width: 4px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bababa;
  background-image: #f5f5f5;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}
